body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #444;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input {
    border: 1px solid #ddd;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
